.error {
	margin: 0 5px;
	color: red;
}

.propPicture {
	max-width:400px;
	max-height:200px;
}

div.reserved {
	position: relative; 
}

h4.reserved {
	position: absolute;
	top: 0;
	left: 0;
	width: 75px;
	background-color: red;
}

.show { display: normal; }

.hide { display: none; }
