<?xml version="1.0" encoding="UTF-8"?>
<web-app
	xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
  <display-name>Archetype Created Web Application</display-name>
  
  
  	<servlet>
		<servlet-name>ListProperties</servlet-name>
		<servlet-class>ar.edu.itba.it.paw.web.ListPropertiesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListProperties</servlet-name>
		<url-pattern>/listProperties</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditProperty</servlet-name>
		<servlet-class>ar.edu.itba.it.paw.web.EditPropertyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditProperty</servlet-name>
		<url-pattern>/editProperty</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddProperty</servlet-name>
		<servlet-class>ar.edu.itba.it.paw.web.AddPropertyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddProperty</servlet-name>
		<url-pattern>/addProperty</url-pattern>
	</servlet-mapping>
	
</web-app>
